CMakeLists.txt.user*
.hg/
.hgignore
.directory
*.kate-swp
.cursor/
.git.bak/
.vscode/

include/pool.h
website/

/build/
/build-*/
/*.o

/docs/_build
/examples/*/build/
/examples/*/dist/
/examples/*/.build-in-docker/
/examples/coroutines/coroutines.pro.user
examples/joker/8085.txt
examples/joker/__pycache__/
libressl/
