CMakeLists.txt.user*
.hg/
.hgignore
.directory
*.kate-swp
include/pool.h
website/

/build/
/build-*/
/*.o

/docs/_build
/examples/*/build/
/examples/*/dist/
/examples/*/.build-in-docker/
/examples/coroutines/coroutines.pro.user
